html, body {

    height: 100%;
    width: 100%;
    display: table;

    font-family: 'Roboto';
    font-size: 14pt;

    background-size: cover;
    background-image: url(../../assets/images/the-office-bg.jpg);
    background-repeat: no-repeat;

}
